<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Menu page template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-11-01 20:47:46 
 * Last modified  : 2021-12-17 20:17:10
 */
 -->
<ion-app color="light">
    <!-- loading -->
    <ion-content *ngIf="!hasData" color="white">
        <div class="loading">
            <img [src]="stringKey.ICON_LOADER" />
        </div>
    </ion-content>
    <!-- loading -->
    <ion-split-pane contentId="content" *ngIf="hasData">
        <ion-menu contentId="content" type="overlay" color="light">
            <!-- header -->
            <ion-header  lines="none" class="ion-no-border">
                <ion-menu-toggle auto-hide="false">
                    <ion-toolbar color="medium">
                        <ion-card class="cursor-pointer margin-top-20-px">
                            <ion-item color="primary" lines="none">
                                <ion-icon size="large"
                                    [src]="stringKey.IMAGE_ICON_SMALL"
                                ></ion-icon>
                                &nbsp;
                                <ion-label *ngIf="settingsModel">
                                    <b
                                        ><ion-text color="info"
                                            >{{settingsModel.appName}}</ion-text
                                        >
                                        {{stringKey.HE_SU_CE}}</b
                                    >
                                </ion-label>
                            </ion-item>
                            <!-- toolbar -->
                            <ion-item color="info" *ngIf="allowPreview">
                                <ion-button slot="end" (click)="editSettings()">
                                    <ion-icon
                                        [src]="stringKey.ICON_EDIT"
                                    ></ion-icon>
                                </ion-button>
                            </ion-item>
                        </ion-card>
                    </ion-toolbar>
                </ion-menu-toggle>
            </ion-header>
            <!-- header -->

            <ion-content color="light">
                <!-- add menu category -->
                <ion-item color="info" *ngIf="allowPreview">
                    <ion-button (click)="addMenuCategory()">
                        <ion-icon [src]="stringKey.ICON_ADD"></ion-icon>
                        &nbsp; {{stringKey.AD_ME_CAT}}
                    </ion-button>
                </ion-item>
                <!-- add menu category -->

                <!-- add menu category -->
                <ion-menu-toggle auto-hide="false" *ngIf="rootMenuModel">
                    <ion-card
                        class="cursor-pointer"
                        color="medium"
                        *ngFor="let eachRootMenu of rootMenuModel.data"
                    >
                        <!-- root menu -->
                        <ion-item color="medium" lines="none">
                            <ion-icon
                                [src]="stringKey.ICON_MENU"
                                slot="start"
                            ></ion-icon>
                            <ion-label>
                                {{eachRootMenu.articleTitle}}
                            </ion-label>
                        </ion-item>
                        <!-- root menu -->

                        <!-- toolbar -->
                        <ion-item color="info" *ngIf="allowPreview">
                            <ion-button>
                                {{stringKey.ORD}} ::
                                {{eachRootMenu.parentMenuOrder}}
                            </ion-button>

                            <ion-button
                                (click)="orderMainMenu(eachRootMenu, 'up')"
                            >
                                {{stringKey.UP}}
                            </ion-button>
                            <ion-button
                                (click)="orderMainMenu(eachRootMenu, 'down')"
                            >
                                {{stringKey.DOW}}
                            </ion-button>
                        </ion-item>
                        <ion-item color="info" *ngIf="allowPreview">
                            <ion-button (click)="addSubMainMenu(eachRootMenu)">
                                <ion-icon [src]="stringKey.ICON_ADD"></ion-icon>
                                &nbsp; {{stringKey.AD_ME}}
                            </ion-button>
                            <ion-button
                                slot="end"
                                (click)="editMainMenu(eachRootMenu)"
                            >
                                <ion-icon
                                    [src]="stringKey.ICON_EDIT"
                                ></ion-icon>
                            </ion-button>
                            <ion-button
                                slot="end"
                                (click)="deleteMainMenu(eachRootMenu)"
                            >
                                <ion-icon
                                    [src]="stringKey.ICON_DELETE"
                                ></ion-icon>
                            </ion-button>
                        </ion-item>
                        <!-- toolbar -->

                        <!-- child menu -->
                        <ion-menu-toggle auto-hide="false">
                            <ion-card
                                class="cursor-pointer"
                                *ngFor="let eachMenu of eachRootMenu.childMenu.data; ; index as eachMenuIndex"
                                
                            >
                                <ion-item
                                    lines="none"
                                    color="light"
                                    routerDirection="root"
                                    routerLinkActive="active"
                                    (click)="gotoPage(eachMenu.articleId)"
                                >
                                    <ion-icon
                                        slot="start"
                                        [src]="stringKey.ICON_RIGHT_ARROW"
                                    ></ion-icon>
                                    <span [innerHTML]="eachMenu.articleTitle | selectMenu : articleId"></span>
                                    
                                </ion-item>
                                <!-- toolbar -->
                                <ion-item color="medium" *ngIf="allowPreview">
                                    <ion-button>
                                        {{stringKey.ORD}} ::
                                        {{eachMenu.childMenuOrder}}
                                    </ion-button>
                                    <ion-button
                                        (click)="orderChildMenu(eachRootMenu, eachMenu, 'up')"
                                    >
                                        {{stringKey.UP}}
                                    </ion-button>
                                    <ion-button
                                        (click)="orderChildMenu(eachRootMenu, eachMenu, 'down')"
                                    >
                                        {{stringKey.DOW}}
                                    </ion-button>
                                </ion-item>

                                <ion-item color="medium" *ngIf="allowPreview">
                                    <ion-button (click)="addSubMenu(eachRootMenu, eachMenu)">
                                        <ion-icon [src]="stringKey.ICON_ADD"></ion-icon>
                                        &nbsp; {{stringKey.AD_SUB_ME}}
                                    </ion-button>
                                    <ion-button
                                        slot="end"
                                        (click)="editChildMenu(eachMenu)"
                                    >
                                        <ion-icon
                                            [src]="stringKey.ICON_EDIT"
                                        ></ion-icon>
                                    </ion-button>
                                    <ion-button
                                        slot="end"
                                        (click)="deleteChildMenu(eachRootMenu, eachMenu)"
                                    >
                                        <ion-icon
                                            [src]="stringKey.ICON_DELETE"
                                        ></ion-icon>
                                    </ion-button>
                                </ion-item>
                                <!-- toolbar -->

                                <!-- sub child menu -->
                                <ion-menu-toggle auto-hide="false">
                                    <ion-card
                                        class="cursor-pointer"
                                        *ngFor="let eachSubMenu of eachMenu.subChildMenu.data; ; index as eachSubMenuIndex"
                                        
                                    >
                                        <ion-item
                                            lines="none"
                                            color="light"
                                            routerDirection="root"
                                            routerLinkActive="active"
                                            (click)="gotoPage(eachSubMenu.articleId)"
                                        >
                                            <ion-icon
                                                slot="start"
                                                [src]="stringKey.ICON_RIGHT_ARROW"
                                            ></ion-icon>
                                            <span [innerHTML]="eachSubMenu.articleTitle | selectMenu : articleId"></span>
                                            
                                        </ion-item>
                                        <!-- toolbar -->
                                        <ion-item color="medium" *ngIf="allowPreview">
                                            <ion-button>
                                                {{stringKey.ORD}} ::
                                                {{eachSubMenu.subChildMenuOrder}}
                                            </ion-button>
                                            <ion-button
                                                (click)="orderChildSubMenu(eachRootMenu, eachMenu, eachSubMenu, 'up')"
                                            >
                                                {{stringKey.UP}}
                                            </ion-button>
                                            <ion-button
                                                (click)="orderChildSubMenu(eachRootMenu, eachMenu, eachSubMenu, 'down')"
                                            >
                                                {{stringKey.DOW}}
                                            </ion-button>
                                        </ion-item>

                                        <ion-item color="medium" *ngIf="allowPreview">
                                            <ion-button
                                                slot="end"
                                                (click)="editSubChildMenu(eachSubMenu)"
                                            >
                                                <ion-icon
                                                    [src]="stringKey.ICON_EDIT"
                                                ></ion-icon>
                                            </ion-button>
                                            <ion-button
                                                slot="end"
                                                (click)="deleteSubChildMenu(eachRootMenu, eachMenu, eachSubMenu)"
                                            >
                                                <ion-icon
                                                    [src]="stringKey.ICON_DELETE"
                                                ></ion-icon>
                                            </ion-button>
                                        </ion-item>
                                        <!-- toolbar -->
                                    </ion-card>
                                </ion-menu-toggle>
                                <!-- sub child menu -->

                            </ion-card>
                        </ion-menu-toggle>
                        <!-- child menu -->
                    </ion-card>
                </ion-menu-toggle>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
