
.ion-color-info {
  --ion-color-base: var(--ion-color-info) !important;
  --ion-color-base-rgb: var(--ion-color-info-rgb) !important;
  --ion-color-contrast: var(--ion-color-info-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-info-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-info-shade) !important;
  --ion-color-tint: var(--ion-color-info-tint) !important;
}
